<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- tipuesearch -->
 {% if page.tique_search_active %}
    <link rel="stylesheet" href="/assets/tipuesearch/css/tipuesearch.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/tipuesearch/tipuesearch_content.js"></script>
    <script src="/assets/tipuesearch/tipuesearch_set.js"></script>
    <script src="/assets/tipuesearch/tipuesearch.min.js"></script>
  {% endif %}
  
	<link rel="stylesheet" href="{{ 'assets/css/normalize.css' | relative_url }}"/>
	<link rel="stylesheet" href="{{ 'assets/css/open-color.css' | relative_url }}"/>
	<link rel="stylesheet" href="{{ 'assets/css/tao/styles.css' | relative_url }}"/>

  <script async src="https://use.fontawesome.com/releases/v6.0.0/js/all.js"></script>

  {% include custom-head.html %}
</head>
